<!DOCTYPE html>
<html>
  <head>
    <title>Simple URL Shortener</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h2>Simple URL Shortener</h1><hr><br>
    <b> {{ response }} </b><br><br>
    <a href="/">Go back to the previous page</a><br><br>
    <a href="/preview-toggle/">Previews are currently {{ previews_status }}, click here to turn them {{ opposite_status }}</a>
  </body>
</html>
